.about-section {
    width: 90%;
    margin: 70px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
    padding: 2%;
    position: relative;
    border-radius: 30px;
    background: #fff;
    
}

.about-section::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 1px;
    border-radius: inherit;
    background: linear-gradient(135deg,
            rgba(22, 163, 74, .25),
            rgba(255, 255, 255, 0),
            rgba(22, 163, 74, .12));
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}

.about-left {
    width: 48%;
}

.about-tag {
    display: inline-block;
    color: #059669;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 22px;
    position: relative;
}

.about-tag::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -12px;
    width: 60px;
    height: 3px;
    background: #059669;
    border-radius: 50px;
}

.about-heading {
    color: var(--darpara-color);
    margin-top: 4%;
    font-family: manrope;
    font-weight: 900;
    font-size: 38px;
}

.about-heading span {
    color: #018b2d;
}

.about-description {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    line-height: 1.9;
    color: #6B7280;
    margin-top: 15px;
    margin-bottom: 35px;
    max-width: 650px;
}

.about-features {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.feature-card {
    display: flex;
    gap: 22px;
    align-items: flex-start;
}

.manropefont {
    font-family: manrope;
}

.parafont {
    font-family: Arial, Helvetica, sans-serif;
}

.feature-icon {

    width: 82px;

    height: 82px;

    border-radius: 18px;

    background: #F2FFF4;

    display: flex;

    justify-content: center;

    align-items: center;

    color: #059669;

    flex-shrink: 0;

    transition: .35s;
}

.feature-card:hover .feature-icon {

    background: #059669;

    color: white;

    transform: scale(1.08);
}

.feature-card h3 {

    font-size: 27px;

    color: #111827;

    margin-bottom: 10px;
}

.feature-card p {

    color: #6B7280;

    font-size: 18px;

    line-height: 1.7;
}

.about-right {
    width: 46%;
    height: 600px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow:
        0 10px 25px rgba(0, 0, 0, 0.2),
        0 25px 60px rgba(22, 163, 74, 0.2);
}

.about-right img {

    transition: .5s;
}

.about-right:hover img {

    transform: scale(1.05);
}